VITE_APP_NAME=Petra Vision
VITE_API_BASE_URL=http://localhost:8000
VITE_API_PREFIX=/api/v1
VITE_AUTH_ENABLED=false
VITE_AZURE_CLIENT_ID=fa60a728-3038-450f-ba94-8e89667048a4
VITE_AZURE_TENANT_ID=dce78d1e-e927-4f5a-8d06-0035eaf8cc08
VITE_AZURE_AUTHORITY=https://login.microsoftonline.com/dce78d1e-e927-4f5a-8d06-0035eaf8cc08
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_AZURE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_API_SCOPE=api://f4cb04ea-3fd2-4d6d-83be-a08bb993f9e9/access_as_user
